<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
        [opened]="!(isHandset | async)!.matches">
        <mat-toolbar color="primary">Audio Braille Patterns Voice Recordings</mat-toolbar>
        <span class="iconify" data-icon="mdi-braille" data-inline="false"></span>
        <mat-nav-list>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/braille-patterns']">
                <mat-icon class="sidenav-icon">dashboard</mat-icon> Braille Patterns
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/about']">
                <mat-icon class="sidenav-icon">people</mat-icon> About
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>