<section class="mat-typography" style="text-align: justify;">
  <h1 class="mat-display-1" style="text-align: center; font-size: 28px;">About us...</h1>

  <p class='mat-body mat-body-1'>
    Our blind daughter likes doing 
    <a href='https://www.pathstoliteracy.org/strategies/just-fun-braille-designs' target='_blank'>braille patterns</a> for fun. 
    Not only is this a fun activity, it also helps with her braille literacy.
  </p>

  <p class='mat-body mat-body-1'>
    She is not really fond of screen-readers and we have to read the instructions to her, which makes her feel very dependant.
  </p>

  <p class='mat-body mat-body-1'>
    In an attempt to change that, we created voice recordings with the braille pattern instructions. She loves the human voice, especially her mom's, instead of the robot screen-reader.   
  </p>

  <p class='mat-body mat-body-1'>
    This website will list all the audio braille pattern voice recordings with the hope other kids will enjoy it too.
    Of course big kids(adults) are welcome too :)  
  </p>

  <p class='mat-body mat-body-1'>
    This site was created with love for our blind community.
  </p>

  <p class='mat-body mat-body-1'>Have fun!</p>

</section>

<section class="mat-typography" style="text-align: justify;">
  <p class='mat-body mat-body-1'>
    PS: For more detail on us, feel free to read our daughter's 
    <a href='https://genique.beukesbunch.com/2016/genique-s-story/' target='_blank'>story</a>.
  </p>
</section>

<section class="mat-typography" style="text-align: justify;">
  <p class='mat-body mat-body-1'>
    PPS: For feedback, issues and contributions, please go to Github:
    <a href='https://github.com/rpbeukes/audio-braille-patterns/' target='_blank'>https://github.com/rpbeukes/audio-braille-patterns</a>
  </p>
</section>

